# 各网站的签到配置，每个网站都支持多账号配置（yaml数组方式）。也支持独立推送配置。不配置留空就行了
users:
  "vpork":
    - "user_name": "账号1"
      "user_password": "密码1"
    - "user_name": "账号2"
      "user_password": "密码2"
      "cqq": "账号2 的专属推送qq，不配置的话，走全局配置。"
      "qq_token": "账号2 的专属推送qq 对应的token"
  "vpork_vip": [ ]
  "cdpc": [ ]
  "liuns": [ ]
  "pucloud": [ ]

# 全局推送配置，如果上面配置了定向推送配置，那么配置了定向配置的推送，走定向配置，不走全局。
qq_push:
  "cqq": "全局推送qq"
  "qq_token": "全局推送qq对应的token"

# 签到执行的定时配置。server方式启动的时候才有效。不配置（留空）的话，默认为 每天早上8点。
"cron": "0 8 * * *"